{% extends "base2.html" %}
{% load static %}
{% block content %}
<div class="col-12 text-left">
    <!-- who we are section-->
    <h3 class="heading"><span>من نحن </span></h3>
        <div class="heading-underline2">
        </div>
    <div class=" row text-center">

        <div class="col-md-6">
            <!-- pragraph Block -->
            <p class="hey">


                تأسست شركة اوميجا فوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2005
                حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم،
                ونظرا للتطور الهائل فى تكنولوجيا صناعة الألواح العازلة فقد قامت الشركة بالتعاون مع كبرى الشركات العالمية
                بإنشاء خطين انتاج بقدرة تصل إلى نصف مليون متر مربع سنويا
                وذلك لتقديم منتجات عالية الجودة وتتمتع بكفاءة وتصميم يطابق
                المواصفات القياسية العالمية.


            </p>
            </div>
            <div class="col-md-6 text-center">
                <!-- pragraph Block -->
                <p class="hey">

               الشركه لها خبرة تزيد عن 25عاما حيث أنها امتداد وتطور لشركات مصرية تسعى إلى الريادة فى السوق المصرية والعالمية.

            نحن نسعى للنجاح والتقدم والذى يعتمد في جوهره على التكنولوجيا الحديثة والعمالة الماهرة التى نسعى لتطويرها وتدريبها من خلال برامج تدريب مستمر

                </p>
            </div>

    </div>

</div>
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span><span>المهمة,</span> والرؤية</span></span> والهدف</span></h3>
        <div class="heading-underline2">
        </div>
</div>
<div class="warpper">
<div id="sidecarousellIndicators" class="carousel slide section-padding owl-carousel " data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators active ">
        <li data-target="#sidecarouselIndicators" data-slide-to="0" class="active"></li>
       <li data-target="#sidecarouselIndicators" data-slide-to="1"></li>
       <li data-target="#sidecarouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-sec">
        <div class="carousel-item active">
            <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/goal.png' %}" alt="Our Goal" title="Our Goal"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal">هدفنا</a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext">دعم الاقتصاد المصري من خلال زيادة معدلات الإنتاج والتصدير الى الدول العربية والافريقية والوصول بالمنتج المصري إلى الأسواق العالمية منتج صنع في مصر بأيدي مصرية...</div>

			<!-- Readmore Block -->
					</div>
        </div></div>
         <div class="carousel-item ">
             <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/mision.png' %}" alt="Our Mission" title="Our Mission"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal"><span>رؤيتنا</span></a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext"><p>التطوير المستمر من خلال المشاركة في المعارض الدولية  /  تحسين كفاءة العاملين من خلال برامج تدريب متطورة
.
  التعاون المتبادل مع بيوت الخبرة العالمية والاستفادة من كل ما هو جديد في مجالات أنشطة الشركة...</p></div>

			<!-- Readmore Block -->
					</div>
         </div></div>
         <div class="carousel-item ">
             <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/vision.png' %}" alt="Our Vision" title="Our Vision"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal"><span>مهمتنا</span></a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext"><p>الحرص على إرضاء عملائنا بتقديم منتجات ذات جودة قياسية عالمية من خلال فريق عمل متخصص من الاستشاريين والفنيين ذوي الخبرة لتقديم المشورة والدعم الفني وخدمة مابعد البيع للعميل لتحقيق أهدافه المنشود...</p></div>

			<!-- Readmore Block -->
					</div>
             </div></div>
    </div>

</div>
</div>

{% endblock %}
{% block base_head %}
<style>
/*-----------------------------------------------------------------------------------

 who we are css

-----------------------------------------------------------------------------------*/
.hey{

	width:85%;
    font-weight:400;
	font-size:20px;
	line-height:28px;
}
/* End who we are section*/
 /*-----------------------------------------------------------------------------------

 mision vision gols css

-----------------------------------------------------------------------------------*/
.warpper{
        width: 1170px;
        margin: 0 auto;
}
.section-padding{
        padding: 60px 0;
}
.image-block{
        width: 100px;
        height: 200px;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
}
.image-block img {
        width: 100%;
}
.carousel-item{
        background-color: #fff;
        padding: 10%auto;
        text-align: center;
        border-radius: 100px 0 100px 0;
}
.introtext p{
        text-transform: uppercase;

        color: #08526d;
}
/* End Grap chart */
</style>


{% endblock %}
