{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span> WHO </span>  WE </span> ARE</span></h3>
        <div class="heading-underline2">
        </div>
    <div class=" row text-center">

        <div class="col-md-6">
            <p class="hey">


                Egypt for Panel and Steel Industries was founded in 2011. the factory<br>was set up inside the industrial zone in 6th of October city.
                Due to <br>enormous development in Sandwich panel production technology
                we <br>have established two production lines with the capacity of 4000 m2 to <br>supply
                the market with high quality product that comply with the<br> universal quality standard.


            </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="hey">The company has experience of more than 25 years as an extension and <br>evolution of Egyptian companies seek to lead in the Egyptian market and<br> global.

We strive for success and progress. Which depends essentially on<br> modern technology and skilled labor.Which we seek to develop and train <br>through continuous training programs.
</p>
            </div>

    </div>

</div>
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span><span> MISSION,</span>  VISION</span> AND</span> GOALS</span></h3>
        <div class="heading-underline2">
        </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="row">
  <div class="carousel-inner">
      <div class="row ">
    <div class="carousel-item active col-md-2">
      <img class="d-block w-100" src="{% static 'img/goal.png' %}" alt="Our Goal" title="Our Goal"></div>
  <div class="carousel-caption col-md-4">
    <!-- Title Block -->
						<h5 class="title text-left">
				<a title="Our Goal"><span>Our <span>Goal</span></span></a>
			</h5>
    <p>Support the Egyptian economy by increasing the production and the export to the Arab and African countries as well as to the global markets... Product made in Egypt by Egyptian hands.</p>
  </div>

      </div>
<div class="row ">
    <div class="carousel-item col-md-2">
      <img class="d-block w-100" src="{% static 'img/mision.png' %}" alt="Our Mission" title="Our Mission">
         <div class="carousel-caption col-md-4">
    <!-- Title Block -->
						<h5 class="title text-left">
				<a title="Our Mission"><span>Our<span>Mission</span></span></a>
			</h5>
    <p>introtext">We care to satisfy our customers by providing them with internationally certified high quality products via our specialized consultants and experienced technicians who provide them with advice and technical support to achieve our customer desired...</p>
  </div>
    </div></div>
      <div class="row ">
    <div class="carousel-item col-md-2">
      <img class="d-block w-100" src="{% static 'img/vision.png' %}" alt="Our Vision" title="Our Vision">
         <div class="carousel-captioncol-md-4">
    <!-- Title Block -->
						<h3 class="title text-left">
                            <a title="Our Vision"><span>Our<span>Vision</span></span></a>
			</h3>
    <p>The continuous improvement through participation in international exhibitions. Improving our employees’ efficiency by involving them in advanced training programs.
 The Mutual cooperation with global consultants gaining all new in the companys...</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div></div></div>
{% endblock %}
{% block base_head %}
<style>
    .hey{
        color: #1ebba3;

    }
    .carousel-item {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 10px 5px;
		background-color: #ffffff;	overflow: hidden;
}
    .carousel-item img{
        width: 100%;
    border-radius: 50%;
    }
   #carouselExampleIndicators .carousel-item {
	background-color: #ffffff;;
	color: #222222;
	padding: 10px;
	margin: 0 5px;
}
    #vina-carousel-content169 .carousel-item a {
	color: #84c1e8;
}
</style>

{% endblock %}