{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span> WHO </span>  WE </span> ARE</span></h3>
        <div class="heading-underline2">
        </div>
    <div class=" row text-center">

        <div class="col-md-6">
            <p class="hey">


                omega foum for Panel and Steel Industries was founded in 2011.
                the factory was set up inside the industrial zone in 6th of fayoum city.
                Due to enormous development in Sandwich panel production technology
                we have established two production lines with the capacity of 8000 m2 to supply
                the market with high quality product that comply with the universal quality standard.


            </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="hey">The company has experience of more than 20 years as an extension and evolution of Egyptian companies seek to lead in the Egyptian market and global.

                         We strive for success and progress. Which depends essentially on modern technology and skilled labor.Which we seek to develop and train through continuous training programs.
                </p>
            </div>

    </div>

</div>
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span><span> MISSION,</span>  VISION</span> AND</span> GOALS</span></h3>
        <div class="heading-underline2">
        </div>
</div>
<div class="warpper">
<div id="sidecarousellIndicators" class="carousel slide section-padding owl-carousel " data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators active ">
        <li data-target="#sidecarouselIndicators" data-slide-to="0" class="active"></li>
       <li data-target="#sidecarouselIndicators" data-slide-to="1"></li>
       <li data-target="#sidecarouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-sec">
        <div class="carousel-item active">
            <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/goal.png' %}" alt="Our Goal" title="Our Goal"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal">Our Goal</a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext">Support the Egyptian economy by increasing the production and the export to the Arab and African countries as well as to the global markets... Product made in Egypt by Egyptian hands.</div>

			<!-- Readmore Block -->
					</div>
        </div></div>
         <div class="carousel-item ">
             <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/mision.png' %}" alt="Our Mission" title="Our Mission"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal"><span>Our<span>Mission</span></span></a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext"><p>We care to satisfy our customers by providing them with internationally certified high quality products via our specialized consultants and experienced technicians who provide them with advice and technical support to achieve our customer desired...</p></div>

			<!-- Readmore Block -->
					</div>
         </div></div>
         <div class="carousel-item ">
             <div class="row">
       <!-- Image Block -->
				<div class="image-block col-md-2">
			<a href="#" title="Our Goal">
				<img src="{% static 'img/vision.png' %}" alt="Our Vision" title="Our Vision"/>
			</a>
		</div>

		<!-- Text Block -->
				<div class="text-block col-md-10">
			<!-- Title Block -->
						<h3 class="title">
				<a title="Our Goal"><span>Our<span>Vision</span></span></a>
			</h3>

			<!-- Info Block -->

			<!-- Intro text Block -->
						<div class="introtext"><p>The continuous improvement through participation in international exhibitions. Improving our employees’ efficiency by involving them in advanced training programs.
                                                  The Mutual cooperation with global consultants gaining all new in the companys...</p></div>

			<!-- Readmore Block -->
					</div>
             </div></div>
    </div>

</div>
</div>

{% endblock %}
{% block base_head %}
<style>
/*-----------------------------------------------------------------------------------

 who we are css

-----------------------------------------------------------------------------------*/
.hey{

	width:85%;
    font-weight:400;
	font-size:20px;
	line-height:28px;
}
/* End who we are section*/
 /*-----------------------------------------------------------------------------------

 mision vision gols css

-----------------------------------------------------------------------------------*/
.warpper{
        width: 1170px;
        margin: 0 auto;
}
.section-padding{
        padding: 60px 0;
}
.image-block{
        width: 100px;
        height: 200px;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
}
.image-block img {
        width: 100%;
}
.carousel-item{
        background-color: #fff;
        padding: 10%auto;
        text-align: center;
        border-radius: 100px 0 100px 0;
}
.introtext p{
        text-transform: uppercase;

        color: #08526d;
}
/* End Grap chart */
</style>


{% endblock %}

