{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-12 text-left">
    <h3 class="heading"><span><span><span> WHO </span>  WE </span> ARE</span></h3>
        <div class="heading-underline2">
        </div>
    <div class=" row text-center">

        <div class="col-md-6">
            <p class="hey">


                Egypt for Panel and Steel Industries was founded in 2011. the factory<br>was set up inside the industrial zone in 6th of October city.
                Due to <br>enormous development in Sandwich panel production technology
                we <br>have established two production lines with the capacity of 4000 m2 to <br>supply
                the market with high quality product that comply with the<br> universal quality standard.


            </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="hey">The company has experience of more than 25 years as an extension and <br>evolution of Egyptian companies seek to lead in the Egyptian market and<br> global.

We strive for success and progress. Which depends essentially on<br> modern technology and skilled labor.Which we seek to develop and train <br>through continuous training programs.
</p>
            </div>

    </div>

</div>

<div class="warpper">
    <div class="testimonial-carousel section-padding owl-carousel">
        <div class="single-testi">
            <div class="img-area">
                <img src="{% static 'img/goal.png' %}">
            </div>
            <div class="img-text">
                <h2>omar ehab</h2>
                <h3>web designer</h3>
                <p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <hr>
                <p>very professinol and honest highly recommended</p>
            </div>
        </div>
         <div class="single-testi">
            <div class="img-area">
                <img src="{% static 'img/mision.png' %}">
            </div>
            <div class="img-text">
                <h2>omar ehab</h2>
                <h3>web designer</h3>
                <p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <hr>
                <p>very professinol and honest highly recommended</p>
            </div>
        </div>
         <div class="single-testi">
            <div class="img-area">
                <img src="{% static 'img/vision.png' %}">
            </div>
            <div class="img-text">
                <h2>omar ehab</h2>
                <h3>web designer</h3>
                <p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <hr>
                <p>very professinol and honest highly recommended</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block base_head %}

<style>

   .warpper{
       width: 1170px;
       margin:0 auto;
   }
    .section-padding{
        padding: 60px 0;



    }
    .testimonial-carousel{
        margin: 5% auto 0;
    }
    .img-area{
        width: 100px;
        height: 100px;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }
    .img-area img{
        width: 100%;
    }
    .single-testi{
        background-color: #fff;
        padding: 10%auto;
        text-align: center;
        border-radius: 100px 0 100px 0;

    }
    .img-text h2{
        text-transform: uppercase;
        margin: 20px 0 -15px;
        color: #ff5257;
    }
    .img-text i{
        color: #ff5257;
    }
    hr{
        color: #ff5257;
    }
    .owl-dots{
        text-align: center;
    }
   .owl-dots{
        display: inline-block;
        height: 15px; !important;
        width: 15px; !important;
        background-color: #fff;
        opacity: 0.8;
        border-radius: 50%;
        margin: 50px 5px 0;
    }
    .owl-dots :active{
        background-color: #ff5257 !important;
    }
    /*resbonsive css*/
    @media only screen and(min-width: 786px)and (max-width: 991px){
        .warpper{
            width: 100%;
        }
        
    }
    @media only screen and(max-width: 786px){
         .warpper{
            width: 100%;
        }

    }
    @media only screen and(min-width: 481px)and (max-width: 767px){
        .warpper{
            width: 100%;
        }

    }
</style>
<script>$('.testimonial-carousel').owlCarousel({
    loop:true,
    margin:20,
    nav:true,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})</script>
{% endblock %}

