{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="jumbotron">
    <div class="narrow">
         <div class="col-12 text-center">
        <h3 class="heading">Our Products</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> Egypt for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>

         </div></div></div>
<div class="section3">
   <div class="container">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="{% static 'img/tuunel.jpg' %}" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>DESCRIPTION</span>
                   <h2>DEEP FREEZER & TUNNEL</h2>
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                     <div class="tgcon">
                       <span>Insulating material:</span>
                       <p>- We produce and deliver pre-cooling tunnels (turn key) using our high quality panel walls which can be mounted inside or outside the construction site whether it is made of steel or concert Using our high quality panels ensures that all kind of products specially food can be preserved and arrive to the final customer fresh as it has been harvested. for the dairy products we give great importance to this sector to ensure hygienic safety so we use stainless steel sheets .</p>
                       <span>Installition</span>
                         <p>- Panels can be transported and mounted easily without any problems. Walk-on ceiling can be done easly to perform regular maintenance or inspection Usage  A wide range of uses such as Slaughterhouses fishery.poultry. dairy products. bakery and pastry products. preserving vegetables. fruits and chemical industries</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>
                </div>

             </div>
          </div>
        </div>
</div>
{% endblock %}

{% block base_head %}
<style>
    /*-----------------------------------------------------------------------------------

 Graph chart

-----------------------------------------------------------------------------------*/

.con1 span{
	font-weight:400;
	color:#b6b6b6;
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:5px;
	display:block;
}

.con1 h2{
	font-weight:400;
	color:#1a1a1a;
	font-size:37px;
	line-height:38px;
	margin:0;
	background:url(../images/line.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:25px;
}
.con1{
	padding-top:0px;
}

.con1 .p{
	font-weight:400;
	color:#8a8a8al;
	font-size:13px;
	line-height:26px;
}

.tgimg {
  float: left;
  min-width: 55px;
  padding-top: 8px;
  width: 10%;
}
.tgcon{
	float:left;
	width:85%;
}
.tgcon span{
	display:block;
	font-weight:400;
	color:#1a1a1a;
	font-size:18px;
}
.tgcon p{
	font-weight:400;
	color:#8a8a8a;
	font-size:13px;
	line-height:26px;
}
.tags{
	padding-top:60px;
}
.tg{
	padding-bottom:45px;
}
.img3 img{
	width:90%;
	    height: 89vh;
	border-radius:6px;
	border:#e2e7ec solid 1px;
	-webkit-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
-moz-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
}
.section3{
	padding-bottom:50px;
}
/* End Grap chart */
</style>
{% endblock %}
</body>
