{% extends "base.html" %}
{% load static %}
{% block content %}
<body>




<div class="jumbotron">
    <div class="narrow">
         <div class="col-12 text-center">
        <h3 class="heading">Our Products</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> Egypt for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>

         </div>
          <div class=" row text-center">
            <div class="col-md-4">
                <div id='menu'>
          <div class="tail">
              <h1>Proudcts</h1>
          </div>
	<ul class="cl-menu">
        <li id='panel'>
			<a href="#">Sandwitch panel</a>
			<ul>
				<li>
					<a href="#">wall panel</a>
				</li>
				<li>
					<a href="#">roof panel</a>
				</li>
			</ul>
        </li>
        <li id='rooms'>
			<a href="#">cold rooms</a>
			<ul>
				<li>
					<a href="#">CHILLER</a>
				</li>
				<li>
					<a href="#">FREEZER</a>
				</li>
                <li>
					<a href="#">DEEP FREEZER & TUNNEL</a>
				</li>
			</ul>
        </li>
		<li id='doors'>
			<a href="#">insulted doors</a>
			<ul>
				<li>
					<a href="#">HINGED DOORS</a>
				</li>
				<li>
					<a href="#">SLIDING DOORS</a>
				</li>
			</ul>
        </li>
		 <li>
			<a href="#">CARAVANS AND MOBILE BUILDING </a>
		</li>
		 <li>
			<a href="#">CORRUGATED STEEL SHEETS </a>
		</li>
	</ul>
                </div>
            </div>
              <div class="col-md-8">
                  <div class="info">
                      <p class="pageup">DEEP FREEZER & TUNNEL<hr></p>

   <p class="title">Insulating material:</p>
   <P>- We produce and deliver pre-cooling tunnels (turn key) using our high quality panel walls which can be mounted inside or outside the construction site whether it is made of steel or concert Using our high quality panels ensures that all kind of products specially food can be preserved and arrive to the final customer fresh as it has been harvested. for the dairy products we give great importance to this sector to ensure hygienic safety so we use stainless steel sheets .</P>
   <p class="title">Installition</p>
    <p>- Panels can be transported and mounted easily without any problems. Walk-on ceiling can be done easly to perform regular maintenance or inspection Usage  A wide range of uses such as Slaughterhouses fishery.poultry. dairy products. bakery and pastry products. preserving vegetables. fruits and chemical industries
 </p>
                  </div>
              </div>
          </div>
    </div>
</div>

{% endblock %}

{% block base_head %}
<style>
    body
    {
        background-color: olive;
    }

    aside
    {
        margin-top: 1%;
        height:50%;
    }

	ul
    {
        margin: 0;
        padding: 0;
    }

	li
    {
        list-style:none;
    }

	a
    {
        text-decoration:none;
    }
    .jumbotron{
    padding: 2rem 0 3.5rem;
    margin-bottom: 0;
    border-radius: 0;
}
    .info{
        position: page;


    }
    h3.heading{
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .7rem;
    padding-left: 1rem;
    color: #721c24;
}
    p.lead{
         font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .7rem;
    padding-left: 1rem;
    color: #721c24;
    }
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;

}
    #content
    {
        float:right;
        width:80%;
        background-color:red;
    }
    .pageup{
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold 700;
        color: #1ebba3;
        padding-top: 1.3rem;
    }
    .title{

        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold ;
        color: #a9111b;
    }
    #menu
    {
        width:20%;
        float:left;


    }
    .tail{
        background-color: #9fcdff;
    }
    .cl-menu li
    {
		position: relative;

    }

	.cl-menu > li:hover
    {
        font-weight:bold;
        opacity: 1;
        filter: alpha(opacity=100);
    }

	.cl-menu li:hover
    {
        background-color:#FFA500;
    }

    .cl-menu li a
    {
		display: block;
        min-width: 150px;
		padding: 10px;
		color: rgba(169, 17, 27, 0.98);
        font-family: 'Rancho', cursive;

    }

	.cl-menu li:hover a
    {
        color:#FFF;

    }

    .cl-menu li ul
    {
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid #000;
		-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display:none;
    }

    .cl-menu li:hover > ul
    {
        display:block;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .cl-menu li ul li
    {
        background: #521780;
		border-bottom:1px solid #000;
        border-top:none;
        border-left:none;
        border-right:none;
    }

	.cl-menu li ul li:last-child
    {
		border-bottom: none;
    }
</style>
{% endblock %}
</body>
