{% extends "base.html" %}
{% load static %}
{% block content %}
<body data-spy="scroll" data-target="#navbarResponsive" data-offset="56">
<!-- start landing page-->
<div class="landing" >
    <div class="home-wrap">
        <div class="home-inner" style="background-image: url({% static 'img/back.png' %})">
        </div>
    </div>
</div>
<div class="caption text-center">
    <h1> Welcome to Omega Foum company</h1>
    <h3> for Panel and Steel Industries</h3>
    <a class="btn btn-outline-light btn-lg" href="#about us">About us</a>
</div>
<!-- end landing page-->
<!--- end home section -->
<!-- start About Us section -->
<div id="about us" class="offset">
    <div class=" narrow" style="background-image: url({% static 'img/201.png' %}) ">
        <div class="col-12 text-center">
        <h1>ABOUT US</h1>
             <div class="heading-underline">
        </div>
        <p class="lead"> omega foum  for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>
        <a class="btn btn-secondary btn-md " href="/about" target="_blank">Read More</a>
    </div>
</div>
<!-- end About Us section -->
<!--start of who we are -->
<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow" >
    <div class="col-12 text-center">
        <h3 class="heading">WHO WE ARE</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> omega foum  for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>
        <div class=" row text-center">
            <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                    <h3>Our Goal</h3>
                    <p>Support the Egyptian economy by increasing the production and the export to...</p>
                     <a class="btn btn-secondary btn-md " href="/about" target="_blank">Read More</a>
                </div>
            </div>
             <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-desktop fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                    <h3>Our Vision</h3>
                    <p>The continuous improvement through participation in international...</p>
                     <a class="btn btn-secondary btn-md " href="/about" target="_blank">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-certificate fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                    <h3>Our Partners</h3>
                    <p>Building and construction sector - Oil sector - Tourism industry - pharmaceutical..</p>
                     <a class="btn btn-secondary btn-md " href="/about" target="_blank">Read More</a>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
<!-- end narrow-->
<div class="border-client"></div>
<!-- start of why us-->
<div id="why choose us" class="offset">
    <div class="fixed-background" style="background-image: url({% static 'img/201.png' %}) ">
        <div class="col-12 text-center"> <h3 class="heading">WHY CHOOSE US?</h3>
             <div class="heading-underline">
        </div>
        <p class="lead"> omega foum  for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>
        </div>
        <div class=" row text-center">
            <div class="col-md-4">
                <div class="feature">
                    <div class="box">
                      <p><i class="fas fa-desktop" data-fa-transform="shrink-3 up-5"></i></p>
                    <div>
                    <h3>Complete Service Solution</h3>
                     <p class="lead"> To support the company to provide all the necessary capabilities</p></div>
                    </div>
                     <div class="box">
                      <p><i class="fab fa-algolia" data-fa-transform="shrink-2 up-1.5"></i></p>
                   <div>
                      <h3>Deliver on Time</h3>
                        <p class="lead">The company provides its services through the work of technical studies in the stages of studying tenders and various projects </p></div>
                  </div>
                     <div class="box">
                      <p><i class="fas fa-wallet" data-fa-transform="shrink-3 up-5"></i></p>
                   <div>
                      <h3>Cost efficient</h3>
                        <p class="lead">The company provides after sales maintenance and the company provides comprehensive guarantee for all works</p></div>
                  </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="feature">
                    <img src="{% static 'img/cool.jpg' %} " alt="" >
                </div>

            </div>
    </div>
</div>
<!-- end of why choose us-->
<div class="border-client"></div>
<!-- Start Statistics -->
    <div id="statics" class="offset" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="stats text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-door-open"></i>
              <span class="timer" data-from="0" data-to="300" data-speed="5000"></span>
              <p>doors</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-project-diagram"></i>
              <span class="timer"  data-from="0" data-to="200" data-speed="5000"></span>
              <p>projects</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-user"></i>
              <span class="timer"  data-from="0" data-to="125" data-speed="5000"></span>
              <p>clients</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-industry"></i>
              <span class="timer" data-from="0" data-to="5000" data-speed="5000"></span>
              <p>meters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="border-client"></div>
<!-- End Statistics -->
<!-- start Products section -->
<div id="Products" class="offset"></div>
<!-- end Products section -->
<!-- start clients section -->
<div id="clients" class="offset">
    <!--our clients-->
    <div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="col-12 text-center">
        <h3 class="heading"><span><span>OUR</span>  CLIENTS</span></h3>
         <div class="heading-underline">
        </div>
    </div>
      <div class="container">
   <section class="customer-logos slider">
      <div class="slide"><img src="{% static 'img/ragab.png' %}"></div>
      <div class="slide"><img src="{% static 'img/zra3a2.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/tarbya2.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/sakr.png' %}"></div>
      <div class="slide"><img src="{% static 'img/raya5.jpg' %} "></div>
      <div class="slide"><img src="{% static 'img/3othym.png' %}"></div>
      <div class="slide"><img src="{% static 'img/shahd.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/cook.png' %}"></div>
      <div class="slide"><img src="{% static 'img/zaman.png' %}"></div>
   </section>
</div>
<!-- end clients section -->
<div class="border-client"></div>
<!-- start of gallery section -->
        <div class="gallery-section">
      <div class="inner-width">
        <div class="col-12 text-center">
        <h3 class="heading"><span><span>OUR</span>  WORKS</span></h3>
             <div class="heading-underline">
        </div>
    </div>
        <div class="gallery">

          <a href="{% static 'img/pro20.jpg' %}" class="image" title="chiller room">
            <img src="{% static 'img/pro20.jpg' %}" alt="">

          </a>

          <a href="{% static 'img/pro33.jpg' %}" class="image" title="cold room">
            <img src="{% static 'img/pro33.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro36.jpg' %}" class="image" title="cold room">
            <img src="{% static 'img/pro36.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro30.jpg' %}" class="image" title="chiller room 3*3">
            <img src="{% static 'img/pro30.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro2.jpg' %}" class="image" title="panel box">
            <img src="{% static 'img/pro2.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro65.jpg' %}" class="image" title="sandwich panel">
            <img src="{% static 'img/pro65.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro60.png' %}" class="image" title="cold room">
            <img src="{% static 'img/pro60.png' %}" alt="">
          </a>

          <a href="{% static 'img/pro10.jpg' %}" class="image" title="small car panel box">
            <img src="{% static 'img/pro10.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/walk-in-expensive.png' %}" class="image" title="cold coil">
            <img src="{% static 'img/walk-in-expensive.png' %}" alt="">
          </a>
           <a href="{% static 'img/pro21.jpg' %}" class="image" title="cold tunnel">
            <img src="{% static 'img/pro21.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/pro17.jpg' %}" class="image" title="cold room 3*3">
            <img src="{% static 'img/pro17.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/pro12.jpg' %}" class="image" title="cold room">
            <img src="{% static 'img/pro12.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro11.jpg' %}" class="image" title="golf car panel box">
            <img src="{% static 'img/pro11.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/017-small.jpg' %}" class="image" title="steels-steel">
            <img src="{% static 'img/017-small.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro7.jpg' %}" class="image" title="chiller coil">
            <img src="{% static 'img/pro7.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro9.jpg' %}" class="image" title="control panels">
            <img src="{% static 'img/pro9.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro3.jpg' %}" class="image" title="chiller rooms with partitions">
            <img src="{% static 'img/pro3.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro32.jpg' %}" class="image" title="sliding door">
            <img src="{% static 'img/pro32.jpg' %}" alt="">
          </a>
         <a href="{% static 'img/pro4.png' %}" class="image" title="car cold box">
            <img src="{% static 'img/pro4.png' %}" alt="">
          </a>
         <a href="{% static 'img/pro13.jpg' %}" class="image" title="steels-steel">
            <img src="{% static 'img/pro13.jpg' %}" alt="">
          </a>
        </div>
      </div>
    </div>
<!-- end gallery section -->
 <div class="border"></div>
{% endblock %}
{% block base_head %}
<style>
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}
</style>
{% endblock %}
</body>
</html>