{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<h1> first products </h1>
<!-- Default dropright button -->
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Products
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a> 	<ul class="cl-menu">
        <li id='panel1'>
			<a href="#">Sandwitch panel</a>
			<ul>
				<li>
					<a href="#">wall panel</a>
				</li>
				<li>
					<a href="#">roof panel</a>
				</li>
			</ul>
        </li>
    </a>
    <a >     <li id='rooms1'>
			<a href="#">cold rooms</a>
			<ul>
				<li>
					<a href="#">CHILLER</a>
				</li>
				<li>
					<a href="#">FREEZER</a>
				</li>
                <li>
					<a href="#">DEEP FREEZER & TUNNEL</a>
				</li>
			</ul>
        </li>
    </a>
    <a ><li id='doors1'>
			<a href="#">insulted doors</a>
			<ul>
				<li>
					<a href="#">HINGED DOORS</a>
				</li>
				<li>
					<a href="#">SLIDING DOORS</a>
				</li>
			</ul>
        </li>
    </a>
    <a class="dropdown-item" href="#doors">CARAVANS AND MOBILE BUILDING </a>
    <a class="dropdown-item" href="#doors">CORRUGATED STEEL SHEETS </a>
  </div>
	<div id='menu'>
          <div class="tail">
              <h1>Proudcts</h1>
          </div>
	<ul class="cl-menu">
        <li id='panel'>
			<a href="#">Sandwitch panel</a>
			<ul>
				<li>
					<a href="#">wall panel</a>
				</li>
				<li>
					<a href="#">roof panel</a>
				</li>
			</ul>
        </li>
        <li id='rooms'>
			<a href="#">cold rooms</a>
			<ul>
				<li>
					<a href="#">CHILLER</a>
				</li>
				<li>
					<a href="#">FREEZER</a>
				</li>
                <li>
					<a href="#">DEEP FREEZER & TUNNEL</a>
				</li>
			</ul>
        </li>
		<li id='doors'>
			<a href="#">insulted doors</a>
			<ul>
				<li>
					<a href="#">HINGED DOORS</a>
				</li>
				<li>
					<a href="#">SLIDING DOORS</a>
				</li>
			</ul>
        </li>
		 <li>
			<a href="#">CARAVANS AND MOBILE BUILDING </a>
		</li>
		 <li>
			<a href="#">CORRUGATED STEEL SHEETS </a>
		</li>
	</ul>
</div>
</div>
{% endblock %}
{% block base_head %}
<style>
    body
    {
        background-color: #CEF6F5;
    }

    aside
    {
        margin-top: 1%;
        height:50%;
    }

	ul
    {
        margin: 0;
        padding: 0;
    }

	li
    {
        list-style:none;
    }

	a
    {
        text-decoration:none;
    }

    #content
    {
        float:right;
        width:80%;
        background-color:red;
    }

    #menu
    {
        width:20%;
        float:left;
        background-color: white;
    }
    .tail{
        background-color: #9fcdff;
    }
    .cl-menu li
    {
		position: relative;
    }

	.cl-menu > li:hover
    {
        font-weight:bold;
        opacity: 1;
        filter: alpha(opacity=100);
    }

	.cl-menu li:hover
    {
        background-color:#FFA500;
    }

    .cl-menu li a
    {
		display: block;
        min-width: 150px;
		padding: 10px;
		color: rgba(169, 17, 27, 0.98);
        font-family: 'Rancho', cursive;
    }

	.cl-menu li:hover a
    {
        color:#FFF;

    }

    .cl-menu li ul
    {
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid #000;
		-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display:none;
    }

    .cl-menu li:hover > ul
    {
        display:block;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .cl-menu li ul li
    {
        background: #521780;
		border-bottom:1px solid #000;
        border-top:none;
        border-left:none;
        border-right:none;
    }

	.cl-menu li ul li:last-child
    {
		border-bottom: none;
    }
</style>
{% endblock %}

</body>
