{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow">
         <div class="col-12 text-center">
             <!-- our product Block -->
        <h3 class="heading">Our Products</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> omega foum for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>

         </div>
<div class="section3">
       <div class="container">
           <!-- description Block -->
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="{% static 'img/slide.jpg' %}" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>DESCRIPTION</span>
                <h2>SLIDING DOORS</h2>
                <div class="tags">
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i1.png" alt="icon1"></div>
                     <div class="tgcon">
                       <span>Door Model: SL70, SL100, SL120, SL150</span>
                       <p>SL70 Suitable for Positive temperature at minimum (0oC).
                          SL100 Suitable for low temperature at minimum (-18oC).
                          SL120 Suitable for low temperature at minimum (-25oC).
                          SL150 Suitable for low temperature at minimum (-35oC).</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                     <div class="tgcon">
                       <span>Leaf Specifications:</span>
                       <p>- Dimension from 2500 x 3500mm up to 3000 x 4000mm.
                          - Injected with PUR materials density 40 kg/m3.
                          - Anodized Aluminum door profile thickness 100 mm.
                          - Leaf covering both sides is made up from metal sheets RAL 9016.
                          - Special EDPM rubber gaskets profiles double density on 3 sides of the door leaf to avoid leakage.
                          - Special 3 lines rubber Threshold gaskets at the bottom of the door profile in cold rooms.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>Frame Specifications:</span>
                       <p>  Outside frame made up from thermo-welded PVC (450) with U PVC 30x80x30 and 40x100x25mm to be fixed on panel thickness 80 mm and 100 mm.
                            Frame and counter frame (L) shape made up from thermo-welded (450) PVC up to a thickness equal to 200 mm.
                            Electric heating cables 30W/m power 220 V inside the frame.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>Application:</span>
                       <p>  Warehouse which preserve fruit ,  vegetables  and food
                            Ice cream factories
                            Trade centers
                            Dairy products and meat processing factories
                            fish transformation plants  </p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                </div>

             </div>
          </div>
        </div>
      </div>
      </div>
{% endblock %}

{% block base_head %}
<style>
        /*-----------------------------------------------------------------------------------

 who we are

-----------------------------------------------------------------------------------*/
.lead{
    color: #08526d;
}
    /* End who we are section */
     /*-----------------------------------------------------------------------------------

 Graph chart

-----------------------------------------------------------------------------------*/

.con1 span{
	font-weight:400;
	color:#b62d2b;
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:5px;
	display:block;
}

.con1 h2{
	font-weight:400;
	color:#1a1a1a;
	font-size:37px;
	line-height:38px;
	margin:0;
	background:url(../images/line.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:25px;
}
.con1{
	padding-top:0px;
}

.con1 .p{
	font-weight:400;
	color:#8a8a8al;
	font-size:13px;
	line-height:26px;
}

.tgimg {
  float: left;
  min-width: 55px;
  padding-top: 8px;
  width: 10%;
}
.tgcon{
	float:left;
	width:85%;
}
.tgcon span{
	display:block;
	font-weight:400;
	color:#1a1a1a;
	font-size:18px;
}
.tgcon p{
	font-weight:400;
	color:#08526d;
	font-size:13px;
	line-height:26px;
}
.tags{
	padding-top:60px;
}
.tg{
	padding-bottom:45px;
}
.img3 img{
	width:90%;
	    height: 89vh;
	border-radius:6px;
	border:#e2e7ec solid 1px;
	-webkit-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
-moz-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
}
.section3{
	padding-bottom:50px;
}
/* End Grap chart */
</style>
{% endblock %}
</body>
