/* Start Slier */

.carousel-item {
  width: 1599px;
  height: 711px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* End Slider */
/* Start Stats */

.stats {
  padding: 100px 0;
  color: #08526d
}

.stats .stat-box {
  margin-bottom: 40px
}

.stats .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.stats p {
  color: #ed1d24;
  font-size: 20px;
  margin: 0
}

/* End Stats */