{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow">
         <div class="col-12 text-center">
             <!-- our product Block -->
        <h3 class="heading">Our Products</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> Egypt for Panel and Steel Industries was founded in 2000. the factory was set up inside the industrial zone in fayoum city. </p>

    </div>
    </div></div>

<div class="section3">
       <div class="container">
           <!-- description Block -->
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="{% static 'img/27379.jpg' %}" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>DESCRIPTION</span>
                <h2>wall panel</h2>
                <div class="tags">
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i1.png" alt="icon1"></div>
                     <div class="tgcon">
                       <span>Insulation :</span>
                            <p>- Standard rigid expanded polyurethane foam (PUR), Option rigid poly-isocyanurate foam (PIR).</p>

                            <p>- Density 40 kg/m3 ±2.</p>

                            <p>- Initial thermal conductivity λ = 0.023 W/m K.</p>

                            <p>- Closed cells 95 %.</p>

                            <p>- Compression resistance daN/mm2 1,5 ± 0,2 (150 KPa).</p>

                            <p>- Reaction to fire standard panel with PUR insulation, Euroclass B2.</p>

                            <p>- Fire reacting option panel with PIR insulation, Euroclass B2.</p>

                            <p>- CFC free.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                     <div class="tgcon">
                       <span>Standard Coating:</span>
                          <p>- Outer and Inner layers are white Pre-painted hot galvanized steel sheet.</p>

                          <p>- Colour Ral 9016.</p>

                          <p>- Paint top Thickness 25 µ</p>

                          <p>- Paint back thickness 7-10 µ.</p>

                          <p>- Glossy (Gardner 60 degree Glossmeter).</p>

                          <p>Optional Coating:</p>

                          <p>- Outer layer Stainless steel sheet type AISI 304-2B, Inner Layer galvanized sheet metal RAL color.</p>

                          <p>- Outer and Inner Layers Stainless steel type AISI 304-2B.</p>

                          <p>Length:</p>

                          <p>- up to 12.5 lm.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>Mounting the Panel:</span>
                       <p>- External, by overlapping of the corrugation, where by the non-foamed sheet of a panel is placed over the corresponding section of the next panel.
                           On the underside, by special shaping, whereby the complementary profile to the corrugation of the second of one roof panel overlaps the corrugation of the second panel, thus achieving a tight connection.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>
                    <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>Length:</span>
                       <p>- up to 12.5 lm.</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>
                    <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>Installation:</span>
                       <p>- male and female joint with double tongue and groove edges. or male and female locking system..</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                </div>

             </div>
          </div>
        </div>
      </div>
      </div>
{% endblock %}

{% block base_head %}
<style>
        /*-----------------------------------------------------------------------------------

 who we are

-----------------------------------------------------------------------------------*/
.lead{
    color: #08526d;
}
    /* End who we are section */
    /*-----------------------------------------------------------------------------------

 Graph chart

-----------------------------------------------------------------------------------*/

.con1 span{
	font-weight:400;
	color:#b62d2b;
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:5px;
	display:block;
}

.con1 h2{
	font-weight:400;
	color:#1a1a1a;
	font-size:37px;
	line-height:38px;
	margin:0;
	background:url(../images/line.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:25px;
}
.con1{
	padding-top:0px;
}

.con1 .p{
	font-weight:400;
	color:#8a8a8al;
	font-size:13px;
	line-height:26px;
}

.tgimg {
  float: left;
  min-width: 55px;
  padding-top: 8px;
  width: 10%;
}
.tgcon{
	float:left;
	width:85%;
}
.tgcon span{
	display:block;
	font-weight:400;
	color:#1a1a1a;
	font-size:18px;
}
.tgcon p{
	font-weight:400;
	color:#8a8a8a;
	font-size:13px;
	line-height:26px;
}
.tags{
	padding-top:60px;
}
.tg{
	padding-bottom:45px;
}
.img3 img{
	width:90%;
	    height: 89vh;
	border-radius:6px;
	border:#e2e7ec solid 1px;
	-webkit-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
-moz-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
}
.section3{
	padding-bottom:50px;
}
/* End Grap chart */
</style>
{% endblock %}
</body>
