{% load static %}
{% url 'arabic:home/ar' as arabic_url %}
{% url 'about/ar' as about2_url %}
{% url 'products' as product2_url %}
{% url 'wallpanel/ar' as wallpanel2_url %}
{% url 'roofpanel/ar' as roofpanel2_url %}
{% url 'freezer/ar' as freezer2_url %}
{% url 'chiller/ar' as chiller2_url %}
{% url 'deepfreezer/ar' as deepfreezer2_url %}
{% url 'slidingdoors/ar' as slidingdoors2_url %}
{% url 'hingedoors/ar' as hingedoors2_url %}
{% url 'cravans/ar' as cravans2_url %}
{% url 'steelsheet/ar' as steelsheet2_url %}
{% url 'events:list' as event_list_url %}
{% url 'feedback:feedback' as feedback_url %}
{% url 'home' as home_url %}
<!--- start home section -->

<div id="home"> </div>
<!--- navigation-->
<div class="header_area">
    <div class="top_menu d-lg-block d-none">
    <div class="container">
        <div class="row">
            <div class="col-6">
                 <ul class="left_side">
                     <li>
                  <a href="https://www.facebook.com/omegafoom/">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
                <li>
              <a href="https://www.facebook.com/profile.php?id=100001993336790">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
          </ul>
            </div>
            <div class="col-6 text-right">
                <ul class="right_side">
            <li>
              <a href="#">
                  <div class="tagropa">
                      <i class="fas fa-phone"></i>012-7982-195</div>

              </a>
            </li>
            <li>
              <a href="#">
               <div class="tagropa"> <i class="fas fa-envelope"></i>e_ashoor@yahoo.com </div>

              </a>
            </li>
          </ul>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-expand-sm navbar-light bg-light sticky-top" data-toggle="affix">
    <a class="navbar-brand" href="{{ arabic_url }}"> <div class="navbar-brand-name"><img src="{% static 'img/logo.png' %}"></div> <div class="nav-name"> Omega Foum</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="#navbarResponsive" aria-expanded='false' aria-label='Toggle Navigation'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ arabic_url }}">الرئيسية</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ about2_url }}">عن الشركة</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="products.html">المنتجات</a>
                <ul class="dropdown-menu">
                    <ul class="cl-menu">
        <li id='panel'>
			<a href="{{ product2_url }}">الواح معزوله</a>
			<ul>
				<li>
					<a href="{{ wallpanel2_url }}">الواح الحائط</a>
				</li>
				<li>
					<a href="{{ roofpanel2_url }}">الواح السقف</a>
				</li>
			</ul>
        </li>
        <li id='rooms'>
			<a href="{{ product2_url }}">غرف ومخازن تبريد </a>
			<ul>
				<li>
					<a href="{{ chiller2_url }}">تبريد</a>
				</li>
				<li>
					<a href="{{ freezer2_url }}">تجميد</a>
				</li>
                <li>
					<a href="{{ deepfreezer2_url }}">أنفاق</a>
				</li>
			</ul>
        </li>
		<li id='doors'>
			<a href="{{ product2_url }}">الابواب المعزوله</a>
			<ul>
				<li>
					<a href="{{ hingedoors2_url }}">الابواب المفصليه</a>
				</li>
				<li>
					<a href="{{ slidingdoors2_url }}">الابواب المنزلقة</a>
				</li>
			</ul>
        </li>
		 <li>
			<a href="{{ cravans2_url }}">الكرفانات والمبانى المتنقله </a>
		</li>
		 <li>
			<a href="{{ steelsheet2_url }}">ألواح الصاج المعرج </a>
		</li>
	</ul>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ event_list_url }}">الاحداث</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ feedback_url }}">اتصل بنا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ home_url }}">English</a>
            </li>
        </ul>
    </div>
</nav>
<!--- end navigation-->