{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'products' as product_url %}
{% url 'wallpanel' as wallpanel_url %}
{% url 'roofpanel' as roofpanel_url %}
{% url 'freezer' as freezer_url %}
{% url 'chiller' as chiller_url %}
{% url 'deepfreezer' as deepfreezer_url %}
{% url 'slidingdoors' as slidingdoors_url %}
{% url 'hingedoors' as hingedoors_url %}
{% url 'cravans' as cravans_url %}
{% url 'steelsheet' as steelsheet_url %}
{% url 'events:list' as event_list_url %}
{% url 'contact' as contact_url %}
{% url 'feedback:feedback' as feedback_url %}
{% url 'arabic:home/ar' as arabic_url %}
<!--- start home section -->

<div id="home"> </div>
<!--- navigation-->
<div class="header_area">
    <div class="top_menu d-lg-block d-none">
    <div class="container">
        <div class="row">
            <div class="col-6">
                 <ul class="left_side">
                     <li>
                  <a href="https://www.facebook.com/omegafoom/">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
                <li>
              <a href="https://www.facebook.com/profile.php?id=100001993336790">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
          </ul>
            </div>
            <div class="col-6 text-right">
                <ul class="right_side">
            <li>
              <a href="#">
                  <div class="tagropa">
                      <i class="fas fa-phone"></i>012-7982-195</div>

              </a>
            </li>
            <li>
              <a href="#">
               <div class="tagropa"> <i class="fas fa-envelope"></i>e_ashoor69@yahoo.com </div>

              </a>
            </li>
          </ul>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-expand-sm navbar-light bg-light sticky-top" data-toggle="affix">
    <a class="navbar-brand" href="{{ home_url }}"> <div class="navbar-brand-name"><img src="{% static 'img/logo.png' %}"></div> <div class="nav-name"> Omega Foam</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="#navbarResponsive" aria-expanded='false' aria-label='Toggle Navigation'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ home_url }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ about_url }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="products.html">Products</a>
                <ul class="dropdown-menu">
                    <ul class="cl-menu">
        <li id='panel'>
			<a href="{{ product_url }}">Sandwitch panel</a>
			<ul>
				<li>
					<a href="{{ wallpanel_url }}">wall panel</a>
				</li>
				<li>
					<a href="{{ roofpanel_url }}">roof panel</a>
				</li>
			</ul>
        </li>
        <li id='rooms'>
			<a href="{{ product_url }}">cold rooms</a>
			<ul>
				<li>
					<a href="{{ chiller_url }}">CHILLER</a>
				</li>
				<li>
					<a href="{{ freezer_url }}">FREEZER</a>
				</li>
                <li>
					<a href="{{ deepfreezer_url }}">DEEP FREEZER & TUNNEL</a>
				</li>
			</ul>
        </li>
		<li id='doors'>
			<a href="{{ product_url }}">insulted doors</a>
			<ul>
				<li>
					<a href="{{ hingedoors_url }}">HINGED DOORS</a>
				</li>
				<li>
					<a href="{{ slidingdoors_url }}">SLIDING DOORS</a>
				</li>
			</ul>
        </li>
		 <li>
			<a href="{{ cravans_url }}">CARAVANS AND MOBILE BUILDING </a>
		</li>
		 <li>
			<a href="{{ steelsheet_url }}">CORRUGATED STEEL SHEETS </a>
		</li>
	</ul>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ event_list_url }}">events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ feedback_url }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ arabic_url }}">العربية</a>
            </li>
        </ul>
    </div>
</nav>
<!--- end navigation-->