{% extends "base2.html" %}
{% load static %}
{% block content %}
<body>

<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow">
         <div class="col-12 text-center">
             <!-- our product Block -->
        <h3 class="heading">منتجاتنا</h3>
         <div class="heading-underline">
        </div>
        <p class="lead">تأسست شركة اوميجافوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2005 حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم .   </p>

         </div>
    </div>
</div>
<div class="section3">
       <div class="container">
           <!-- description Block -->
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="{% static 'img/carnval.jpg' %}" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>المواصفات</span>
                <h2>الكرفانات والمبانى المتنقله</h2>
                <div class="tags">
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i1.png" alt="icon1"></div>
                     <div class="tgcon">

                       <p>

- نظرا للظروف الجغرافية ودرجات الحرارة المختلفة التى تتميز بها منطقة افريقيا والشرق الاوسط كان لابد من التفكير فى الاستفادة من الألواح العازلة فى تطبيقات اخرى منها المبانى سابقة التجهيز والكرافانات الثابتة والمتحركة لسهولة تركيبها ونقلها من موقع إلى آخر خاصة في مجالات المشروعات البترولية والتعدينية والتشييد

- يقوم فريق المهندسين بالشركة بعمل الرسومات والتصميمات طبقا لاحتياجات العميل .

- تنتج شركة (PSI) الالواح العازلة مختلفة السمك ولخفة وزنها وسهولة تجميعها التى تتميز بها شركتنا حيث يتم تصنيعها على احدث خطوط الإنتاج (إيطالية) فقد توسعت الشركة فى تطبيقات استخدام تلك الألواح حيث نقوم باستخدامها فى صناعة الكرافانات والمبانى سابقة التجهيز والتى تستخدم كوحدات إعاشة متنقلة فى الأماكن النائية وأيضا مواقع البناء والتنقيب عن البترول كوحدات سكنية ودورات مياه ومكاتب إدارية واستخدامات عديدة أخرى تتماشى مع احتياجات العميل
                        </p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                     <div class="tgcon">
                       <span>المقاسات:</span>
                       <p>- 3*6 ، 3*9 ، 3*12 ، ومقاسات عديدة أخرى حسب طلب العميل حيث يمكن تصنيع الهيكل المعدنى طبقا للمواصفات والمقاسات المطلوبة.

                                        انواع الكرفانات.

- كرفانات ثابتة على شاسيه..

- كرفانات على مقطورة متحركة على عجلات للنقل لمسافات طويلة..                           </p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>المواصفات الفنية: </span>
                       <p>- الهيكل مصنع من قطاعات حديدية مسحوبة على البارد ومطلية بطبقة برايمر ثم طبقة طلاء لاكيه .

- الحوائط صاج / صاج تعريجة خفيفة - صاج/خشب - خشب/خشب كما يمكن للشركه ان تستعمل صاج ديكور من الداخل حيث يعطى مظهر جميل ويتميز بمتانة عن الخشب

- السطح مكون من صاج معرج مجلفن وملون، فوق طبقة من الصوف الزجاجى (سمكها 2 بوصة) مسلح بالألومنيوم فويل .

- كما تقوم الشركة بتنفيذ جميع الأعمال الكهربائية والصحية وأعمال تجهيز الارضيات والنوافذ والابواب باستخدم خامات قياسية.
</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>
                </div>

             </div>
          </div>
        </div>
      </div>
      </div>


{% endblock %}

{% block base_head %}
<style>
    /*-----------------------------------------------------------------------------------

 who we are

-----------------------------------------------------------------------------------*/
.lead{
    color: #08526d;
}
    /* End who we are section */
    /*-----------------------------------------------------------------------------------

 Graph chart

-----------------------------------------------------------------------------------*/

.con1 span{
	font-weight:400;
	color: #b62d2b;
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:5px;
	display:block;
}

.con1 h2{
	font-weight:400;
	color:#1a1a1a;
	font-size:37px;
	line-height:38px;
	margin:0;
	background:url(../images/line.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:25px;
}
.con1{
	padding-top:0px;
}

.con1 .p{
	font-weight:400;
	color:#8a8a8al;
	font-size:13px;
	line-height:26px;
}

.tgimg {
  float: left;
  min-width: 55px;
  padding-top: 8px;
  width: 10%;
}
.tgcon{
	float:left;
	width:85%;
}
.tgcon span{
	display:block;
	font-weight:400;
	color:#1a1a1a;
	font-size:18px;
}
.tgcon p{
	font-weight:400;
	color:#08526d;
	font-size:13px;
	line-height:26px;
}
.tags{
	padding-top:60px;
}
.tg{
	padding-bottom:45px;
}
.img3 img{
	width:90%;
	    height: 89vh;
	border-radius:6px;
	border:#e2e7ec solid 1px;
	-webkit-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
-moz-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
}
.section3{
	padding-bottom:50px;
}
/* End Grap chart */
</style>
{% endblock %}
</body>
