
{% extends "base2.html" %}
{% load static %}
{% block content %}
<body>

<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow">
         <div class="col-12 text-center">
             <!-- our product Block -->
        <h3 class="heading">منتجاتنا</h3>
         <div class="heading-underline">
        </div>
        <p class="lead"> تأسست شركة اوميجافوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2005 حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم . </p>

         </div>
    </div>
</div>
 <div class="container">
     <!-- description Block -->
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="{% static 'img/freezer.jpg' %}" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>المواصفات</span>
                    <h2>تجميد</h2>
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                    <div class="tgcon">
                       <span>مواصفات وحدات التجميد:</span>
                       <p>•	لا يتم اعتماد وحدات التبريد والتجميد الا باستخدام برنامج خاص بحساب القدرات الخاصة لكل وحدة يتم تركيبها طبقا لحساب الاحمال الحرارية .
                       </p>
                         <p>•	يتم استخدام الكومبيوتر لاعتماد نتائج دقيقة تعطي قدرات مناسبة للغرض المطلوب من الغرفة
                       </p>
                         <p>•	يتم استخدام وحدات ماركة كاريير والتي تعتبر من افضل وحدات التبريد والتجميد الموجودة بالعالم
                       </p>
                          <p>•	يتم استخدام مبرخرات فرنساوي تتناسب مع الوحـــدات
                         	  مع العلم ان الوحدة تشتمل على :- لوحة كنترول مكونات شنيدر الماني او فوجي ياباني وتشتمل على ديجيتال تحكم وكنتكتورات واوفر لود وحمايات وقواطع ولمبات ومفاتيح تشغيل ، مع تركيب كل ما يلزم عملية التشغيل من مواسير واكواع وعزل وقطع ميكانيكا وبلوف وحمايات وكابلات وفريون وصرف للكويلات والاضاءه وكل ما يلزم عملية التشغيل بكفاءة عالية .

                       </p>
                         <p></p>
                          <span>التركيب:</span>
                          <p>بالإمكان نقل وتركيب الألواح العازلة من دون أي مشاكل. ويمكن أن يتم السير على السقف بسهولة لإجراء الصيانة العادية أو التفتيش
                       </p>
                          <span>الاستخدامات:</span>
                          <p>حفظ اللحوم - الأسماك - الدواجن - منتجات الألبان والمخبوزات - الفاكهة
                       </p>
                     </div>
                     <div class="clear"></div>
                  </div>
                </div>

             </div>
          </div>
        </div>

{% endblock %}

{% block base_head %}
<style>
        /*-----------------------------------------------------------------------------------

 who we are

-----------------------------------------------------------------------------------*/
.lead{
    color: #08526d;
}
    /* End who we are section */
     /*-----------------------------------------------------------------------------------

 Graph chart

-----------------------------------------------------------------------------------*/

.con1 span{
	font-weight:400;
	color:#b62d2b;
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:5px;
	display:block;
}

.con1 h2{
	font-weight:400;
	color:#1a1a1a;
	font-size:37px;
	line-height:38px;
	margin:0;
	background:url(../images/line.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:25px;
}
.con1{
	padding-top:0px;
}

.con1 .p{
	font-weight:400;
	color:#8a8a8al;
	font-size:13px;
	line-height:26px;
}

.tgimg {
  float: left;
  min-width: 55px;
  padding-top: 8px;
  width: 10%;
}
.tgcon{
	float:left;
	width:85%;
}
.tgcon span{
	display:block;
	font-weight:400;
	color:#1a1a1a;
	font-size:18px;
}
.tgcon p{
	font-weight:400;
	color:#08526d;
	font-size:13px;
	line-height:26px;
}
.tags{
	padding-top:60px;
}
.tg{
	padding-bottom:45px;
}
.img3 img{
	width:90%;
	    height: 89vh;
	border-radius:6px;
	border:#e2e7ec solid 1px;
	-webkit-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
-moz-box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
box-shadow: 7px 6px 34px -9px rgba(144,155,165,0.48);
}
.section3{
	padding-bottom:50px;
}
/* End Grap chart */
</style>
{% endblock %}
</body>