{% extends "base2.html" %}
{% load static %}
{% block content %}
<body data-spy="scroll" data-target="#navbarResponsive" data-offset="56">
<!-- start landing page-->
<div class="landing" >
    <div class="home-wrap">
        <div class="home-inner" style="background-image: url({% static 'img/back.png' %})">
        </div>
    </div>
</div>
<div class="caption text-center">
    <h1> شركة اوميجا فوم ترحب بكم</h1>
    <h3> لصناعات غرف التبريد والصناعات المعدنية</h3>
    <a class="btn btn-outline-light btn-lg" href="#about us">عن الشركة</a>
</div>
<!-- end landing page-->
<!--- end home section -->
<!-- start About Us section -->
<div id="about us" class="offset">
    <div class=" narrow" style="background-image: url({% static 'img/201.png' %}) ">
        <div class="col-12 text-center">
        <h1>عن الشركة</h1>
             <div class="heading-underline">
        </div>
        <p class="lead">تأسست شركة اوميجافوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2011 حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم  </p>
        <a class="btn btn-secondary btn-md " href="/about/ar" target="_blank">المزيد</a>
    </div>
</div>
<!-- end About Us section -->
<!--start of who we are -->
<div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="narrow" >
    <div class="col-12 text-center">
        <h3 class="heading">من نحن</h3>
         <div class="heading-underline">
        </div>
        <p class="lead">. تأسست شركة اوميجافوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2005 حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم </p>
        <div class=" row text-center">
            <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                    <h3>هدفنا</h3>
                    <p>دعم الاقتصاد المصري من خلال زيادة معدلات الإنتاج والتصدير...</p>
                     <a class="btn btn-secondary btn-md " href="/about/ar" target="_blank">المزيد</a>
                </div>
            </div>
             <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-desktop fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                    <h3>رؤياتنا</h3>
                    <p>التطوير المستمر من خلال المشاركة في المعارض الدولية...</p>
                     <a class="btn btn-secondary btn-md " href="/about/ar" target="_blank">المزيد</a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="features">
                    <i class="fas fa-certificate fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
                    <h3>عملاؤنا</h3>
                    <p>قطاع التشييد والبناء - قطاع النفط - صناعة السياحة - الأدوية...</p>
                     <a class="btn btn-secondary btn-md " href="/about/ar" target="_blank">المزيد</a>
                </div>

            </div>


        </div>
    </div>
    </div>
</div>
 <div class="border-client"></div>
<!-- end narrow-->
<!-- start of why us-->
<div id="why choose us" class="offset">
    <div class="fixed-background" style="background-image: url({% static 'img/201.png' %}) ">
        <div class="col-12 text-center"> <h3 class="heading">لماذا نحن؟</h3>
             <div class="heading-underline">
        </div>
        <p class="lead"> تأسست شركة اوميجافوم لصناعات غرف التبريد والصناعات المعدنية فى عام 2011 حيث تم بناء المصنع بالمنطقة الصناعية بمدينة الفيوم.   </p>
        </div>


        <div class=" row text-center">
            <div class="col-md-4">
                <div class="feature">
                    <div class="box">
                      <p><i class="fas fa-desktop" data-fa-transform="shrink-3 up-5"></i></p>
                    <div>
                    <h3>حل كامل للخدمه</h3>
                     <p class="lead">تهدف الشركة لتوفير كل الامكانيات اللازمة لتنفيذ الأعمال من خلال تطبيق الكفاءة العالية </p></div>
                    </div>
                     <div class="box">
                      <p><i class="fab fa-algolia" data-fa-transform="shrink-2 up-1.5"></i></p>
                   <div>
                      <h3>مالتسليم فى الوقت المحدد</h3>
                        <p class="lead">تقدم الشركة خدماتها من خلال عمل دراسات فنية في مراحل دراسة العطاءات و المشروعات المختلفة ثم تقوم الشركة بالتوريد و التركيب لهذه المجالات </p></div>
                  </div>
                     <div class="box">
                      <p><i class="fas fa-wallet" data-fa-transform="shrink-3 up-5"></i></p>
                   <div>
                      <h3>كفء التكلفه</h3>
                        <p class="lead"> تقدم الشركة صيانة ما بعد البيع كما ان الشركة تقدم ضمان شامل لجميع الاعمال مع التزام عالي جدا بتقديم افضل الاسعار باجود الخامات </p></div>
                  </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="feature">
                    <img src="{% static 'img/cool.jpg' %} " alt="" >
                </div>

            </div>
    </div>
</div>
<!-- end of why choose us-->
 <div class="border-client"></div>
<!-- Start Statistics -->
    <div id="statics" class="offset" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="stats text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-door-open"></i>
              <span class="timer" data-from="0" data-to="300" data-speed="5000"></span>
              <p>ابواب</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-project-diagram"></i>
              <span class="timer"  data-from="0" data-to="200" data-speed="5000"></span>
              <p>مشاريع</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-user"></i>
              <span class="timer"  data-from="0" data-to="125" data-speed="5000"></span>
              <p>عملاء</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stat-box">
              <i class="fas fa-industry"></i>
              <span class="timer" data-from="0" data-to="5000" data-speed="5000"></span>
              <p>متر</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="border-client"></div>
<!-- End Statistics -->
<!-- start clients section -->
<div id="clients" class="offset">
    <!--our clients-->
    <div class="jumbotron" style="background-image: url({% static 'img/201.png' %}) ">
    <div class="col-12 text-center">
        <h3 class="heading"><span>عملاؤنا</span>  </h3>
         <div class="heading-underline">
        </div>
    </div>
      <div class="container">
   <section class="customer-logos slider">
      <div class="slide"><img src="{% static 'img/ragab.png' %}"></div>
      <div class="slide"><img src="{% static 'img/zra3a2.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/tarbya2.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/sakr.png' %}"></div>
      <div class="slide"><img src="{% static 'img/raya5.jpg' %} "></div>
      <div class="slide"><img src="{% static 'img/3othym.png' %}"></div>
      <div class="slide"><img src="{% static 'img/shahd.jpg' %}"></div>
      <div class="slide"><img src="{% static 'img/cook.png' %}"></div>
      <div class="slide"><img src="{% static 'img/zaman.png' %}"></div>
   </section>
</div>
<!-- end clients section -->
<div class="border-client"></div>
<!-- start of gallery section -->
    <div class="gallery-section">
      <div class="inner-width">
        <div class="col-12 text-center">
        <h3 class="heading"><span><span>OUR</span>  WORKS</span></h3>
             <div class="heading-underline">
        </div>
    </div>
        <div class="gallery">

          <a href="{% static 'img/pro20.jpg' %}" class="image" title="غرفة تبريد">
            <img src="{% static 'img/pro20.jpg' %}" alt="">

          </a>

          <a href="{% static 'img/pro33.jpg' %}" class="image" title="غرفة تجميد">
            <img src="{% static 'img/pro33.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro36.jpg' %}" class="image" title="غرفة تجميد">
            <img src="{% static 'img/pro36.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro30.jpg' %}" class="image" title="غرفة تبريد3*3">
            <img src="{% static 'img/pro30.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro2.jpg' %}" class="image" title="صندوق عربية ">
            <img src="{% static 'img/pro2.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro65.jpg' %}" class="image" title="ساندويتش بانل">
            <img src="{% static 'img/pro65.jpg' %}" alt="">
          </a>

          <a href="{% static 'img/pro60.png' %}" class="image" title="غرفة تجميد">
            <img src="{% static 'img/pro60.png' %}" alt="">
          </a>

          <a href="{% static 'img/pro10.jpg' %}" class="image" title="صندوق عربية صغير">
            <img src="{% static 'img/pro10.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/walk-in-expensive.png' %}" class="image" title="كويل تحميد">
            <img src="{% static 'img/walk-in-expensive.png' %}" alt="">
          </a>
           <a href="{% static 'img/pro21.jpg' %}" class="image" title="نفق تحميد">
            <img src="{% static 'img/pro21.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/pro17.jpg' %}" class="image" title="غرفة تحميد 3*3">
            <img src="{% static 'img/pro17.jpg' %}" alt="">
          </a>
          <a href="{% static 'img/pro12.jpg' %}" class="image" title="غرفة جزارة تجميد">
            <img src="{% static 'img/pro12.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro11.jpg' %}" class="image" title="صندوق عربية جولف ">
            <img src="{% static 'img/pro11.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/017-small.jpg' %}" class="image" title="علقات لحمة استلس استيل">
            <img src="{% static 'img/017-small.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro7.jpg' %}" class="image" title="كويل تبريد">
            <img src="{% static 'img/pro7.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro9.jpg' %}" class="image" title="وحدات الكنترول">
            <img src="{% static 'img/pro9.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro3.jpg' %}" class="image" title="غرف تبريد متصلة">
            <img src="{% static 'img/pro3.jpg' %}" alt="">
          </a>
           <a href="{% static 'img/pro32.jpg' %}" class="image" title="باب منزلق">
            <img src="{% static 'img/pro32.jpg' %}" alt="">
          </a>
         <a href="{% static 'img/pro4.png' %}" class="image" title="صندوق عربية">
            <img src="{% static 'img/pro4.png' %}" alt="">
          </a>
         <a href="{% static 'img/pro13.jpg' %}" class="image" title="علقات استلس استيل">
            <img src="{% static 'img/pro13.jpg' %}" alt="">
             <div class="title2">heading</div>
          </a>
        </div>
      </div>
    </div>
<!--end of gallery section -->
<div class="border-client"></div>
{% endblock %}
{% block base_head %}
<style>
    .panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}
</style>
{% endblock %}
</body>
</html>